{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": "airbnb",
  "rules": {
    "consistent-return": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/prefer-default-export": 0,
    "arrow-parens": 0
  }
}
