{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": [
    "prettier",
    "react",
    "react-hooks"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "prettier/prettier": "error",
    "consistent-return": 0
  }
}
